<html>
  <head>
    <script src="sudoku.js"></script>
    <link rel="stylesheet" type="text/css" href="styling.css">  
  </head>
  <body onload="draw();">
    <center>
      <h1>
        <button>Refresh</button>
        Sudoku Solver
        <button onclick="solve();">Solve</button>
      </h1>
      <table class="sudoku_grid">
	<tbody>
	  <tr class="row1">
	    <th class="col1"></th>
	    <th class="col2"></th>
	    <th class="col3"></th>
	    <th class="col4"></th>
	    <th class="col5"></th>
	    <th class="col6"></th>
	    <th class="col7"></th>
	    <th class="col8"></th>
	    <th class="col9"></th>
	  </tr>
	  <tr class="row2">
	    <th class="col1"></th>
	    <th class="col2"></th>
	    <th class="col3"></th>
	    <th class="col4"></th>
	    <th class="col5"></th>
	    <th class="col6"></th>
	    <th class="col7"></th>
	    <th class="col8"></th>
	    <th class="col9"></th>
	  </tr>
	  <tr class="row3">
	    <th class="col1"></th>
	    <th class="col2"></th>
	    <th class="col3"></th>
	    <th class="col4"></th>
	    <th class="col5"></th>
	    <th class="col6"></th>
	    <th class="col7"></th>
	    <th class="col8"></th>
	    <th class="col9"></th>
	  </tr>
	  <tr class="row4">
	    <th class="col1"></th>
	    <th class="col2"></th>
	    <th class="col3"></th>
	    <th class="col4"></th>
	    <th class="col5"></th>
	    <th class="col6"></th>
	    <th class="col7"></th>
	    <th class="col8"></th>
	    <th class="col9"></th>
	  </tr>
	  <tr class="row5">
	    <th class="col1"></th>
	    <th class="col2"></th>
	    <th class="col3"></th>
	    <th class="col4"></th>
	    <th class="col5"></th>
	    <th class="col6"></th>
	    <th class="col7"></th>
	    <th class="col8"></th>
	    <th class="col9"></th>
	  </tr>
	  <tr class="row6">
	    <th class="col1"></th>
	    <th class="col2"></th>
	    <th class="col3"></th>
	    <th class="col4"></th>
	    <th class="col5"></th>
	    <th class="col6"></th>
	    <th class="col7"></th>
	    <th class="col8"></th>
	    <th class="col9"></th>
	  </tr>
	  <tr class="row7">
	    <th class="col1"></th>
	    <th class="col2"></th>
	    <th class="col3"></th>
	    <th class="col4"></th>
	    <th class="col5"></th>
	    <th class="col6"></th>
	    <th class="col7"></th>
	    <th class="col8"></th>
	    <th class="col9"></th>
	  </tr>
	  <tr class="row8">
	    <th class="col1"></th>
	    <th class="col2"></th>
	    <th class="col3"></th>
	    <th class="col4"></th>
	    <th class="col5"></th>
	    <th class="col6"></th>
	    <th class="col7"></th>
	    <th class="col8"></th>
	    <th class="col9"></th>
	  </tr>
	  <tr class="row9">
	    <th class="col1"></th>
	    <th class="col2"></th>
	    <th class="col3"></th>
	    <th class="col4"></th>
	    <th class="col5"></th>
	    <th class="col6"></th>
	    <th class="col7"></th>
	    <th class="col8"></th>
	    <th class="col9"></th>
	  </tr>
	</tbody>
      </table>
    </center>
  </body>
</html>
