<html>
  <head>
    <script src="sudoku.js"></script>
    <link rel="stylesheet" type="text/css" href="styling.css">  
  </head>
  <body onload="draw();">
    <center>
      <h1>
        <button onclick="draw();">Refresh</button>
        Sudoku Solver
        <button onclick="get_input();">Solve</button>
      </h1>
      <div id="messages"></div>
      <table class="sudoku_grid">
	<tbody>
	  <tr class="row1"></tr>
	  <tr class="row2"></tr>
	  <tr class="row3"></tr>
	  <tr class="row4"></tr>
	  <tr class="row5"></tr>
	  <tr class="row6"></tr>
	  <tr class="row7"></tr>
	  <tr class="row8"></tr>
	  <tr class="row9"></tr>
	</tbody>
      </table>
    </center>
  </body>
</html>
