table{
    table-layout: fixed;
    width: 200px;
}
th{
    border-top:2px solid #000000;
    border-left:2px solid #000000;
    width:75px;
}
.row9 th{
    border-bottom:2px solid #000000;
}
.col9{
    border-right:2px solid #000000;
}
.col4{
    border-left:5px solid #000000;
}
.col7{
    border-left:5px solid #000000;
}
.row4 th{
    border-top:5px solid #000000;
}
.row7 th{
    border-top:5px solid #000000;
}

